{{ define "main" }}
{{ partial "back_link.html" .}}

<article class="h-entry prose prose-gray dark:prose-invert mb-14">
    <header class="mb-20 text-center">
        <h2 class="text-7xl">{{ .Title }}</h2>
        <p class="text-xl mt-5">{{ .Description }}</p>
    </header>

    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    <div class="e-content">
        {{ .Content }}
    </div>

    {{ partial "backlinks.html" . }}
</article>
{{ end }}
